[submodule "dependencies/MidnightMath"]
	path = dependencies/MidnightMath
	url = https://github.com/MidnightMagenta/MidnightMath.git
[submodule "dependencies/assimp"]
	path = dependencies/assimp
	url = https://github.com/assimp/assimp.git
